<!DOCTYPE html>

<html>
  <head> 
    <title>About</title>
    <link rel="icon" href="/img/weather.png"></link>
    <link rel="stylesheet" href="/css/styles.css"></link>
  </head>

  <body>
    <div class='main-content'>
        {{>header}}
        <p>This site was created by Yumi Yanesa. It uses data from mapbox.com. </p>
    <img class="portrait other" src="/img/yumi2.jpg">
    </div>
    
     {{>footer}}
  </body>
</html>
